<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/主页面菜单1.css') }}"/>

    <title>求职数据分析</title>


</head>

<body>

    <div class="header">
        <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;求职数据分析</h1>
    </div>

    <div class="row">

        <div class="col-3 menu">
            <ul>
                <li><a href="详细页面1.html">我的主页</a></li>
                <li><a href="详细页面2.html">数据分析</a></li>
                <li><a href="详细页面3.html">匹配结果</a></li>
                <li><a href="详细页面4.html">修改简历</a></li>
                <li><a href="详细页面5.html">联系我们</a></li>
            </ul>
        </div>

        <div class="col-9">
        </br></br></br></br>
            <h1 align="left">小型智能职业分析系统</h1>
            <p>小型智能职业分析系统通过对大数据的分析，并且根据您提供的信息，为您匹配出最适合你的职业岗位！</p>
        </br></br></br></br></br></br></br></br></br></br></br></br></br>
        </div>

    </div>
</body>

</html>